body {
    background-color: rgb(105, 90, 90);
    overflow-x: hidden;
    overflow-y: hidden;
}
.settings-accinfo {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.settings-accinfo .bottom {
    position: absolute;
    top: 35vh;
}
/* this is for the blue border */
.settings-accinfo .outer-frame {
    position: relative;
    width: 95vw;
    height: 80vh;
    background-color: #3A7FD0;
    border: 0.40vw solid;
    border-top-left-radius: 2.5vw;
    border-top-right-radius: 2.5vw;
    border-color: #2867C6;
}

.settings-accinfo .inner-frame {
    position: absolute;
    width: 91vw;
    height: 57.5vh;
    top: 3vh;
    left: 1.75vw;
    background-color: #E2D8D8;
    border: 0.3vw solid;
    border-radius: 1.5vw;
    border-color: #656161;
}

.settings-accinfo .top-text {
    position: absolute;
    width: 30vw;
    height: 6.67vh;
    top: 3vh;
    left: 2vw;
}

.settings-accinfo .AccInfoTitle {
    font-family: "Darker Grotesque-Bold", Helvetica, serif;
    font-weight: 700;
    color: #000000;
    font-size: 2.15vw;
}

.settings-accinfo .line {
    height: 0.2vh;
    width: 70vh;
    bottom: 1vh;
    background-color: #4b4949;
}

.settings-accinfo .desc {
    position: absolute;
    height: 50vh;
    top: 3vh;
    font-family: "Darker Grotesque", serif;
    font-weight: 100;
    color: #3d3c3c;
    font-size: 1.65vw;
}

.settings-accinfo .user-information {
    position: relative;
    width: 91vw;
    top: 18vh;
    left: 2vw;
}

.settings-accinfo .username {
    position: absolute;
    top: 2.5vh;
    font-family: "Darker Grotesque-Bold", Helvetica, serif;
    font-weight: 700;
    font-size: 2.15vw;
    color: #000000;
}

.settings-accinfo .username-display {
    position: absolute;
    width: 18.5vw;
    height: 6vh;
    left: 13vw;
    top: 2vh;
    background-color: #ffffff;
    border-radius: 1.5vh;
    border: .1vw solid;
    border-color: #272ed7;
}
.settings-accinfo .password {
    position: absolute;
    top: 13vh;
    font-family: "Darker Grotesque-Bold", Helvetica, serif;
    font-weight: 700;
    font-size: 2.15vw;
    color: #000000;
}
.settings-accinfo .password-display {
    position: absolute;
    width: 18.5vw;
    height: 6vh;
    left: 13vw;
    top: 12.5vh;
    background-color: #ffffff;
    border-radius: 1.5vh;
    border: .1vw solid;
    border-color: #272ed7;
    text-align: center;
}
.settings-accinfo .filteredPass {
    position: absolute;
    left: .5vw;
    top: .5vh;
    font-family: "Darker Grotesque-Bold", Helvetica, serif;
    font-weight: 700;
    font-size: 2.15vw;
    color: rgb(0, 0, 0);
    vertical-align: middle;
    display: table-cell
}
.settings-accinfo .cont_changePassButton {
    position: absolute;
    display: table;
    top: 13vh;
    left: 33vw;
    height: 5vh;
    width: 10vw;
}
.settings-accinfo .changePassButton {
    position: absolute;
    height: 5vh;
    width: 10vw;
    background-color: #ded4d4;
    border-radius: 1.5vh;
    border: .15vw solid;
    border-color: #272ed7;
    box-shadow: 0 0.3vh 0.3vh black;
    cursor: pointer;
}

.settings-accinfo .changePassTxt {
    font-size: 1.0vw;
    font-family: "Darker Grotesque-Bold", Helvetica, serif;
    font-weight: 500;
    color: rgb(0, 0, 0);
    position: absolute;
    bottom:1vh;
    right:.8vw;
}

.settings-accinfo .changePassButton:hover {
   .changePassTxt{
       color: #044394;
   }
}
.settings-accinfo .changePassButton:before {
    content: '';
    position: absolute;
    top: 3.5vh;
    left: .75vw;
    height: 0.3vh;
    background: #044394;
    transition: all 1.0s ease;

}
.settings-accinfo .changePassButton:hover:before {
    width: 85%;
    color: #2867C6;

}

.settings-accinfo .changePassPopup {
    position: absolute;
    width: 40vw;
    height: 47.5vh;
    left: 21.5vw;
    top: -35vh;
    background-color: #80B4F0;
    border: .4vw solid;
    border-radius: 1vw;
    border-color: #2867C6;
    box-shadow: 0 1.5vh 1.5vh #545151;
}

.changePassPopup .popupTxt {
    position: absolute;
    left: 11.5vw;
    top: 1vh;
    font-family: "Darker Grotesque-Bold", Helvetica, serif;
    font-weight: 700;
    color: rgb(0, 0, 0);
    font-size: 1.5vw;
    text-decoration: underline;
    text-underline-offset: .5vh;
}

.changePassPopup .inputText {
    position: absolute;
    width: 25vw;
    height: 7vh;
    top: 7.5vh;
    left: 7vw;
    background-color: #E2D8D8;
    border: .25vw solid #4b4949;
    border-radius: 1.2vw;
    font-size: 1.5vw;
}
.changePassPopup .inputText1 {
    position: absolute;
    width: 25vw;
    height: 7vh;
    top: 16.5vh;
    left: 7vw;
    background-color: #E2D8D8;
    border: .25vw solid #4b4949;
    border-radius: 1.2vw;
    text-align: absolute;
    font-size: 1.5vw;
}
.changePassPopup .inputText2 {
    position: absolute;
    width: 25vw;
    height: 7vh;
    top: 25.5vh;
    left: 7vw;
    background-color: #E2D8D8;
    border: .25vw solid #4b4949;
    border-radius: 1.2vw;
    text-align: absolute;
    font-size: 1.5vw;
}
.settings-accinfo .cont_closePopup {
    position: absolute;
    display: table;
    left: .75vw;
    top: 1.25vh;
    height: 5vh;
    width: 6vw;
}
.cont_closePopup .closePopup {
    position: absolute;
    height: 5vh;
    width: 6vw;
    background-color: #ded4d4;
    border-radius: 1.5vh;
    border: .15vw solid;
    border-color: #000000;
    box-shadow: 0 0.3vh 0.3vh black;
    cursor: pointer;
}
.closePopupTxt {
    position: absolute;
    font-size: 1.0vw;
    font-family: "Darker Grotesque-Bold", Helvetica, serif;
    font-weight: 500;
    color: rgb(0, 0, 0);
    bottom: 1vh;
    left: 1.25vw;

}

.closePopup:hover {
    .closePopupTxt{
        color: #044394;
    }
}

.closePopup:before {
    content: '';
    position: absolute;
    top: 3.4vh;
    left: 1.15vw;
    height: 0.3vh;
    background: #044394;
    transition: all 1.0s ease;

}
.closePopup:hover:before {
    width: 60%;
    color: #2867C6;
}
.cont_confirmPass {
    position: absolute;
    display: table;
    left: 13.5vw;
    top: 36vh;
    height: 8vh;
    width: 12vw;
}
.confirmPassButton {
    position: absolute;
    height: 8vh;
    width: 12vw;
    background-color: #ded4d4;
    border-radius: 1.5vh;
    border: .15vw solid;
    border-color: #000000;
    box-shadow: 0 0.3vh 0.3vh black;
    cursor: pointer;
    font-size: 1.5vw;
    font-family: "Darker Grotesque-Bold", Helvetica, serif;
    font-weight: 500;
    color: rgb(0, 0, 0);
}
.confirmPassButton:hover {
    .confirmPassTxt{
        color: #044394;
    }
}

.confirmPassButton:before {
    content: '';
    position: absolute;
    left: 3.25vw;
    bottom: 1.75vh;
    height: 0.3vh;
    background: #044394;
    transition: all 1.0s ease;

}
.confirmPassButton:hover:before {
    width: 45%;
    color: #2867C6;
}
.settings-accinfo .top {
    position: absolute;
    width: 100vw;
    height: 32.5vh;
    top: 0;
    box-shadow: 0 1.5vh 1.5vh #00000040;
}


.settings-accinfo .t-leftFrame {
    position: absolute;
    width: 13vw;
    height: 32.5vh;
    background-color: #2867C6;
    align-content: center;
}

.settings-accinfo .settingsText {
    position: absolute;
    width: 60vw;
    height: 20vh;
    top: 20.5vh;
    left: 3.5vh;
    font-family: "Darker Grotesque-Bold", Helvetica, serif;
    font-weight: 700;
    color: #000000;
    font-size: 2.5vw;
}

.settings-accinfo .usericon {
    position: absolute;
    width: 8.5vw;
    height: 17.5vh;
    left: 2.25vw;
    top: 2vh;
}


.settings-accinfo .t-rightFrame {
    position: relative;
    width: 120vw;
    height: 32.5vh;
    left: 13vw;
    background-color: #E2D8D8;
}

.settings-accinfo .dashboardButton {
    position: absolute;
    display: table;
    background-color: #ffffff;
    left: 61vw;
    top: 21.25vh;
    height: 7vh;
    width: 23vw;
    border: .2vw solid;
    border-radius: 1vw;
    border-color: #2867C6;
    box-shadow: 0 0.5vh 1.5vh black;
    text-align: center;
}

.settings-accinfo .dashboardTxt {
    font-size: 2.1vw;
    font-family: "Darker Grotesque-Bold", Helvetica, serif;
    font-weight: 600;
    color: rgb(0, 0, 0);
    vertical-align: middle;
    display: table-cell
}

.settings-accinfo .dashboardTxt:before {
    content: '';
    position: absolute;
    top: 5.5vh;
    height: 0.4vh;
    background: #044394;
    width: 0;
    transition: all 1.0s ease;
}
.settings-accinfo .dashboardTxt:hover:before {
    width: 93%;
    color: #2867C6;
}


.settings-accinfo .buttonFrame {
    position: absolute;
    background-color: #80b3f0;
    left: 16vw;
    top: 20vh;
    height: 9.5vh;
    width: 55vw;
    border: .15vw solid;
    border-radius: 3vh;
    box-shadow: 0 0.5vh 1.5vh black;
}

.settings-accinfo .newTxt {
    position: absolute;
    top: 2.25vh;
    width: 5.85vw;
    left: 46.5vw;
    font-size: 2.25vw;
    font-family: "Darker Grotesque-Bold", Helvetica, serif;
    font-weight: 700;
    color: rgb(0, 0, 0);
    line-height: normal;
}
.settings-accinfo .newTxt:before {
    content: '';
    position: absolute;
    top: 5vh;
    height: 0.5vh;
    background: #044394;
    width: 0;
    transition: all 1.0s ease;
}
.settings-accinfo .newTxt:hover:before{
    width:100%;
}

.settings-accinfo .appearTxt {
    position: absolute;
    top: 2.25vh;
    width: 12.925vw;
    left: 47vw;
    font-size: 2.25vw;
    font-family: "Darker Grotesque-Bold", Helvetica, serif;
    font-weight: 700;
    color: rgb(0, 0, 0);
    line-height: normal;
}
.settings-accinfo .appearTxt:before{
    content: '';
    position: absolute;
    top: 5.5vh;
    height: 0.4vh;
    background: #044394;
    width: 0;
    transition: all 1.0s ease;
}
.settings-accinfo .appearTxt:hover:before{
    width: 100%;
}

.settings-accinfo .notifTxt {
    position: absolute;
    top: 2.25vh;
    width: 12.75vw;
    left: 28vw;
    font-size: 2.25vw;
    font-family: "Darker Grotesque-Bold", Helvetica, serif;
    font-weight: 700;
    color: rgb(0, 0, 0);
}

.settings-accinfo .notifTxt:before {
    content: '';
    position: absolute;
    top: 5vh;
    height: 0.5vh;
    background: #044394;
    width: 0;
    transition: all 1.0s ease;
}
.settings-accinfo .notifTxt:hover:before {
    width: 107%;
}

.settings-accinfo .accinfoTxt {
    position: absolute;
    top: 2.25vh;
    width: 25vw;
    left: 1.5vw;
    font-size: 2.25vw;
    font-family: "Darker Grotesque-Bold", Helvetica, serif;
    font-weight: 700;
    color: #000000;
}
.settings-accinfo .accinfoTxt:before {
    content: '';
    position: absolute;
    top: 5vh;
    height: 0.5vh;
    background: #044394;
    width: 0;
    transition: all 1.0s ease;
}
.settings-accinfo .accinfoTxt:hover:before {
    width: 88%;
}
