body {
    background-color: rgb(105, 90, 90);
    overflow-x: hidden;
    overflow-y: hidden;
}
.settings-accinfo {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.settings-accinfo .bottom {
    position: absolute;
    top: 35vh;
}
/* this is for the blue border */
.settings-accinfo .outer-frame {
    position: relative;
    width: 95vw;
    height: 80vh;
    background-color: #3A7FD0;
    border: 0.40vw solid;
    border-top-left-radius: 2.5vw;
    border-top-right-radius: 2.5vw;
    border-color: #2867C6;
}

.settings-accinfo .inner-frame {
    position: absolute;
    width: 91vw;
    height: 57.5vh;
    top: 3vh;
    left: 1.75vw;
    background-color: #E2D8D8;
    border: 0.3vw solid;
    border-radius: 1.5vw;
    border-color: #656161;
}

.settings-accinfo .top-text {
    position: absolute;
    width: 30vw;
    height: 6.67vh;
    top: 3vh;
    left: 2vw;
}

.settings-accinfo .AccInfoTitle {
    font-family: "Darker Grotesque-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 2.15vw;
}

.settings-accinfo .line {
    height: 0.2vh;
    width: 70vh;
    bottom: 1vh;
    background-color: #4b4949;
}

.settings-accinfo .desc {
    position: absolute;
    height: 50vh;
    top: 3vh;
    font-family: "Darker Grotesque";
    font-weight: 100;
    color: #3d3c3c;
    font-size: 1.65vw;
}

.settings-accinfo .user-information {
    position: relative;
    width: 60vw;
    top: 18vh;
    left: 2vw;
}

.settings-accinfo .phone-num-display {
    position: absolute;
    width: 18.5vw;
    height: 6vh;
    left: 54vw;
    top: 2vh;
    background-color: #ffffff;
    border-radius: 1.5vh;
    border: .1vw solid;
    border-color: #272ed7;
}

.settings-accinfo .password-display {
    position: absolute;
    width: 18.5vw;
    height: 6vh;
    left: 13vw;
    top: 27.5vh;
    background-color: #ffffff;
    border-radius: 1.5vh;
    border: .1vw solid;
    border-color: #272ed7;
}

.settings-accinfo .email-display {
    position: absolute;
    width: 18.5vw;
    height: 6vh;
    left: 13vw;
    top: 19vh;
    background-color: #ffffff;
    border-radius: 1.5vh;
    border: .1vw solid;
    border-color: #272ed7;
}

.settings-accinfo .last-name-display {
    position: absolute;
    width: 18.5vw;
    height: 6vh;
    left: 13vw;
    top: 10.5vh;
    background-color: #ffffff;
    border-radius: 1.5vh;
    border: .1vw solid;
    border-color: #272ed7;
}

.settings-accinfo .first-name-display {
    position: absolute;
    width: 18.5vw;
    height: 6vh;
    left: 13vw;
    top: 2vh;
    background-color: #ffffff;
    border-radius: 1.5vh;
    border: .1vw solid;
    border-color: #272ed7;
}

.settings-accinfo .password {
    position: absolute;
    top: 28vh;
    font-family: "Darker Grotesque-Bold", Helvetica;
    font-weight: 700;
    font-size: 2.15vw;;
    color: #000000;
}

.settings-accinfo .e-mail {
    position: absolute;
    top: 20vh;
    font-family: "Darker Grotesque-Bold", Helvetica;
    font-weight: 700;
    font-size: 1.7vw;
    color: #000000;
}

.settings-accinfo .phone-number {
    position: absolute;
    top: 2.5vh;
    left: 38vw;
    font-family: "Darker Grotesque-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 2vw;
    letter-spacing: 0;
    line-height: normal;
}

.settings-accinfo .last-name {
    position: absolute;
    top: 11vh;
    font-family: "Darker Grotesque-Bold", Helvetica;
    font-weight: 700;
    font-size: 2.15vw;
    color: #000000;
}

.settings-accinfo .first-name {
    position: absolute;
    top: 2.5vh;
    font-family: "Darker Grotesque-Bold", Helvetica;
    font-weight: 700;
    font-size: 2.15vw;
    color: #000000;
}

.settings-accinfo .changePassButton {
    position: absolute;
    display: table;
    left: 33vw;
    top: 28vh;
    height: 5vh;
    width: 9vw;
    background-color: #ded4d4;
    border-radius: 1.5vh;
    border: .15vw solid;
    border-color: #272ed7;
    box-shadow: 0vh 0.3vh 0.3vh black;
    text-align: center;
}

.settings-accinfo .changePassTxt {
    font-size: 1.0vw;
    font-family: "Darker Grotesque-Bold", Helvetica;
    font-weight: 500;
    color: rgb(0, 0, 0);
    vertical-align: middle;
    display: table-cell
}

.settings-accinfo .changePassTxt:hover {
    color: #044394;
}
.settings-accinfo .changePassTxt:before {
    content: '';
    position: absolute;
    top: 3.5vh;
    height: 0.3vh;
    background: #044394;
    transition: all 1.0s ease;
}
.settings-accinfo .changePassTxt:hover:before {
    width: 90%;
    color: #2867C6;
}
.settings-accinfo .updateEmailButton {
    position: absolute;
    display: table;
    left: 33vw;
    top: 19.3vh;
    height: 5vh;
    width: 10.5vw;
    background-color: #ded4d4;
    border-radius: 1.5vh;
    border: .15vw solid;
    border-color: #272ed7;
    box-shadow: 0vh 0.3vh 0.3vh black;
    text-align: center;
}

.settings-accinfo .updateEmailTxt{
    font-size: 1.0vw;
    font-family: "Darker Grotesque-Bold", Helvetica;
    font-weight: 500;
    color: rgb(0, 0, 0);
    vertical-align: middle;
    display: table-cell
}
.settings-accinfo .updateEmailTxt:hover{
    color: #044394;
}
.settings-accinfo .updateEmailTxt:before {
    content: '';
    position: absolute;
    top: 3.5vh;
    height: 0.3vh;
    background: #044394;
    transition: all 1.0s ease;
}
.settings-accinfo .updateEmailTxt:hover:before {
    width: 95.3%;
    color: #2867C6;
}

.settings-accinfo .updatePhoneNumButton {
    position: absolute;
    display: table;
    left: 74vw;
    top: 2.4vh;
    height: 5vh;
    width: 11vw;
    background-color: #ded4d4;
    border-radius: 1.5vh;
    border: .15vw solid;
    border-color: #272ed7;
    box-shadow: 0vh 0.3vh 0.3vh black;
    text-align: center;
}

.settings-accinfo .updatePhoneNumTxt{
    font-size: 1.0vw;
    font-family: "Darker Grotesque-Bold", Helvetica;
    font-weight: 500;
    color: rgb(0, 0, 0);
    vertical-align: middle;
    display: table-cell
}
.settings-accinfo .updatePhoneNumTxt:hover{
    color: #044394;
}
.settings-accinfo .updatePhoneNumTxt:before {
    content: '';
    position: absolute;
    top: 3.5vh;
    height: 0.3vh;
    background: #044394;
    transition: all 1.0s ease;
}
.settings-accinfo .updatePhoneNumTxt:hover:before {
    width: 93%;
    color: #2867C6;
}

.settings-accinfo .top {
    position: absolute;
    width: 100vw;
    height: 32.5vh;
    top: 0vh;
    box-shadow: 0vh 1.5vh 1.5vh #00000040;
}

.settings-accinfo .t-leftFrame {
    position: absolute;
    width: 13vw;
    height: 32.5vh;
    background-color: #2867C6;
}

.settings-accinfo .settingsText {
    position: absolute;
    width: 60vw;
    height: 20vh;
    top: 20.5vh;
    left: 3.5vh;
    font-family: "Darker Grotesque-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 2.5vw;
}

.settings-accinfo .usericon {
    position: absolute;
    width: 8.5vw;
    height: 17.5vh;
    left: 2.25vw;
    top: 2vh;
}


.settings-accinfo .t-rightFrame {
    position: relative;
    width: 120vw;
    height: 32.5vh;
    left: 13vw;
    background-color: #E2D8D8;
}

.settings-accinfo .dashboardButton {
    position: absolute;
    display: table;
    background-color: #ffffff;
    left: 61vw;
    top: 21.25vh;
    height: 7vh;
    width: 23vw;
    border: .2vw solid;
    border-radius: 1vw;
    border-color: #2867C6;
    box-shadow: 0vh 0.5vh 1.5vh black;
    text-align: center;
}

.settings-accinfo .dashboardTxt {
    font-size: 2.1vw;
    font-family: "Darker Grotesque-Bold", Helvetica;
    font-weight: 600;
    color: rgb(0, 0, 0);
    vertical-align: middle;
    display: table-cell
}

.settings-accinfo .dashboardTxt:before {
    content: '';
    position: absolute;
    top: 5.5vh;
    height: 0.4vh;
    background: #044394;
    width: 0;
    transition: all 1.0s ease;
}
.settings-accinfo .dashboardTxt:hover:before {
    width: 93%;
    color: #2867C6;
}


.settings-accinfo .buttonFrame {
    position: absolute;
    background-color: #80b3f0;
    left: 16vw;
    top: 20vh;
    height: 9.5vh;
    width: 55vw;
    border: .15vw solid;
    border-radius: 3vh;
    box-shadow: 0vh 0.5vh 1.5vh black;
}

.settings-accinfo .newTxt {
    position: absolute;
    top: 2.25vh;
    width: 5.85vw;
    left: 46.5vw;
    font-size: 2.25vw;
    font-family: "Darker Grotesque-Bold", Helvetica;
    font-weight: 700;
    color: rgb(0, 0, 0);
    line-height: normal;
}
.settings-accinfo .newTxt:before {
    content: '';
    position: absolute;
    top: 5vh;
    height: 0.5vh;
    background: #044394;
    width: 0;
    transition: all 1.0s ease;
}
.settings-accinfo .newTxt:hover:before{
    width:100%;
}

.settings-accinfo .appearTxt {
    position: absolute;
    top: 2.25vh;
    width: 12.925vw;
    left: 47vw;
    font-size: 2.25vw;
    font-family: "Darker Grotesque-Bold", Helvetica;
    font-weight: 700;
    color: rgb(0, 0, 0);
    line-height: normal;
}
.settings-accinfo .appearTxt:before{
    content: '';
    position: absolute;
    top: 5.5vh;
    height: 0.4vh;
    background: #044394;
    width: 0;
    transition: all 1.0s ease;
}
.settings-accinfo .appearTxt:hover:before{
    width: 100%;
}

.settings-accinfo .notifTxt {
    position: absolute;
    top: 2.25vh;
    width: 12.75vw;
    left: 28vw;
    font-size: 2.25vw;
    font-family: "Darker Grotesque-Bold", Helvetica;
    font-weight: 700;
    color: rgb(0, 0, 0);
}

.settings-accinfo .notifTxt:before {
    content: '';
    position: absolute;
    top: 5vh;
    height: 0.5vh;
    background: #044394;
    width: 0;
    transition: all 1.0s ease;
}
.settings-accinfo .notifTxt:hover:before {
    width: 107%;
}

.settings-accinfo .accinfoTxt {
    position: absolute;
    top: 2.25vh;
    width: 25vw;
    left: 1.5vw;
    font-size: 2.25vw;
    font-family: "Darker Grotesque-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
}
.settings-accinfo .accinfoTxt:before {
    content: '';
    position: absolute;
    top: 5vh;
    height: 0.5vh;
    background: #044394;
    width: 0;
    transition: all 1.0s ease;
}
.settings-accinfo .accinfoTxt:hover:before {
    width: 88%;
}
