body {
    background: #E5E5E5;
    font-size: 6vw;
    font-family: Jomhuria, sans-serif ;
}

.banner {
    width: 101%;
    height: 11vh;
    position: fixed;
    margin: auto;
    top: -2vh;
    left: -1vw;
    background-color: #2867C6;
    overflow-x: hidden;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 70%;
    margin-inl: 2vh;
    overflow-y: hidden;
}

.wel{
    top: -6.5vh;
    position: relative;
}

.button {

}

.main {
    position: absolute;
    width: 70vw;
    height: 75vh;
    background-color: #80B4F0;
    left: 2.5vw;
    top: 22vh;
    border-radius: 2vw;

}

.main_banner {
    position: relative;
    width: 100%;
    height: 8vh;
    background-color: #2867C6;
    border-top-left-radius: 2vw;
    border-top-right-radius: 2vw;
}

.year{
    position: absolute;
    width: 22vw;
    height: 85vh;
    background: #2867C6;
    left: 75.5vw;
    top: 12vh;
    border-radius: 2vw;
}

.day {

}


