body {
    font-size: 6vw;
    width: 100%;
    margin: auto;
    font-family: Jomhuria, sans-serif ;
    background: #E5E5E5;
    font-weight: bold;
}


.topbanner1 {
    width: 80%;
    height: 9.5vh;
    position: absolute;
    top: 0vh;
    background-color: #2867C6;
    color: white;
    font-size: 50%;
    overflow-x: hidden;
    overflow-y: hidden;

}
.topbanner2 {
    positon: absolute;
    width: 100%;
    height: 9.5vh;
    top: -1vh;
    background-color: #2867C6;
    color: white;
}


.wel{
    position: absolute;
    top: -5vh;
    left: 1vw;
    width: 200vw;
}

.back {
    position: absolute;
    width: 8%;
    height: 6vh;
    background-color: #E5E5E5;
    color: black;
    font-size: 23%;
    border-radius: 1vw;
    top: 1.5%;
    left: 91%;
    font-weight: bolder;
    text-align: center;
    border-color: transparent;
}

.set {
    position: absolute;
    width: 8%;
    height: 6vh;
    background-color: #E5E5E5;
    color: black;
    font-size: 23%;
    border-radius: 1vw;
    top: 1.5%;
    left: 82%;
    font-weight: bolder;
    text-align: center;
    border-color: transparent;
}

.main {
    position: absolute;
    width: 70%;
    height: 75%;
    background-color: #80B4F0;
    left: 2.5%;
    top: 22vh;
    border-radius: 2vw;
    font-size: 100%;

}

.main_banner {
    position: relative;
    width: 100%;
    height: 8vh;
    background-color: #2867C6;
    border-top-left-radius: 2vw;
    border-top-right-radius: 2vw;
    color: white;
    font-size: 50%;
    text-align: center;
    top: -7vh;
}

.view {
    position: relative;
    top: 0.5vh;
}

.day {
    position: absolute;
    background-color: #E5E5E5;
    border: .5vh solid #2867C6;
    color: black;
    font-size: 30%;
    text-align: center;
    top: -12.5%;
    width: 22%;
    left: 38%;
    border-radius: 1vw;
    height: 6%;
}

.button1 {
    position: absolute;
    top: -11.5%;
    height: 5%;
    width: 4%;
    border-radius: 0.5vw;
    border: .5vh solid #2867C6;
    background-color: #E5E5E5;
    left: 29%;
    font-weight: bolder;
    text-align: center;
    font-size: 15%;
}

.button2 {
    position: absolute;
    top: -11.5%;
    height: 5%;
    width: 4%;
    border-radius: 0.5vw;
    border: .5vh solid #2867C6;
    background-color: #E5E5E5;
    left: 66%;
    font-weight: bolder;
    text-align: center;
    font-size: 15%;
}

.year{
    position: absolute;
    width: 22%;
    height: 85vh;
    background: #2867C6;
    left: 75.5%;
    top: 12vh;
    border-radius: 2vw;
    overflow-y: hidden;
}


.format {
    width: 100%;
    height: 100%;
}

.year_date {
    position: relative;
    text-align: center;
    color: black;
    background: #E5E5E5;
    font-size: 30%;
    top: 3%;
    width:30%;
    height: 5%;
    left:35%;
    border-radius: .5vw;

}
.button3 {
    position: absolute;
    height: 5%;
    width: 15%;
    border-color: transparent;
    border-radius: 0.5vw;
    background-color: #E5E5E5;
    left: 15%;
    top: 3%;
    font-weight: bolder;
    text-align: center;
    font-size: 20%;
}

.button4 {
    position: absolute;
    height:5%;
    width: 15%;
    border-color: transparent;
    border-radius: 0.5vw;
    background-color: #E5E5E5;
    font-weight: bolder;
    text-align: center;
    left: 70%;
    top:3%;
    font-size: 20%;
}

.row1 {
    position: relative;
    width: 40%;
    height: 12%;
    border: .5vh solid #80B4F0;
    color: #2867C6;
    background-color: #E5E5E5;
    font-weight: bolder;
    text-align: center;
    border-radius: 1vw;
    left: 7%;
    top: -95%;
    font-size: 30%;
}

.row2 {
    position: relative;
    width: 40%;
    height: 12%;
    border: .5vh solid #80B4F0;
    color: #2867C6;
    background-color: #E5E5E5;
    font-weight: bolder;
    text-align: center;
    border-radius: 1vw;
    left: 7%;
    top: -97%;
    font-size: 30%;
}

.row3 {
    position: relative;
    width: 40%;
    height: 12%;
    border: .5vh solid #80B4F0;
    color: #2867C6;
    background-color: #E5E5E5;
    font-weight: bolder;
    text-align: center;
    border-radius: 1vw;
    left: 7%;
    top: -99%;
    font-size: 30%;
}

.row4 {
    position: relative;
    width: 40%;
    height: 12%;
    border: .5vh solid #80B4F0;
    color: #2867C6;
    background-color: #E5E5E5;
    font-weight: bolder;
    text-align: center;
    border-radius: 1vw;
    left: 7%;
    top: -101%;
    font-size: 30%;
}

.row5 {
    position: relative;
    width: 40%;
    height: 12%;
    border: .5vh solid #80B4F0;
    color: #2867C6;
    background-color: #E5E5E5;
    font-weight: bolder;
    text-align: center;
    border-radius: 1vw;
    left: 7%;
    top: -103%;
    font-size: 30%;
}

.row6 {
    position: relative;
    width: 40%;
    height: 12%;
    border: .5vh solid #80B4F0;
    color: #2867C6;
    background-color: #E5E5E5;
    font-weight: bolder;
    text-align: center;
    border-radius: 1vw;
    left: 7%;
    top: -105%;
    font-size: 30%;
}

.pop {
    position: relative;
    width: 18vw;
    height: 20vh;
    top: -2vh;
    left: 81vw;
    background: #868686;
    border-radius: 1vw;
    color: #E5E5E5;
    font-size: 30%;
    text-align: center;
}

.opt {
    position: relative;
    width: 8vw;
    height: 7vh;
    border-radius: .5vw;
    font-weight: bold;
    top: -1vh;
    background-color: #E5E5E5;
    font-size: 80%;
    border-color: transparent;
}
