body {
    background: #E5E5E5;
    font-size: 6vw;
    font-family: Jomhuria, sans-serif ;
    font-weight: bold;
}

.banner {
    width: 101%;
    height: 11vh;
    position: fixed;
    margin: auto;
    top: -2vh;
    left: -1vw;
    background-color: #2867C6;
    overflow-x: hidden;
    color: white;
    text-align: center;
    font-size: 65%;
    margin-inl: 2vh;
    overflow-y: hidden;
}

.wel{
    top: -5.5vh;
    position: relative;
}

.main {
    position: absolute;
    width: 70vw;
    height: 75vh;
    background-color: #80B4F0;
    left: 2.5vw;
    top: 22vh;
    border-radius: 2vw;

}

.main_banner {
    position: relative;
    width: 100%;
    height: 8vh;
    background-color: #2867C6;
    border-top-left-radius: 2vw;
    border-top-right-radius: 2vw;
    color: white;
    font-size: 50%;
    text-align: center;
    top: -7vh;
}

.view {
    position: relative;
    top: 0.5vh;
}

.day {
    position: relative;
    background-color: #E5E5E5;
    border: .5vh solid #2867C6;
    color: black;
    font-size: 30%;
    text-align: center;
    top: -23vh;
    width: 22%;
    left: 38%;
    border-radius: 1vw;
    height: 4vh;
}

.button1 {
    position: relative;
    top: -35.5vh;
    height: 4vh;
    width: 3vw;
    border-radius: 0.5vw;
    border: .5vh solid #2867C6;
    background-color: #E5E5E5;
    left: 21vw;
    font-weight: bolder;
    text-align: center;
}

.button2 {
    position: relative;
    top: -35.5vh;
    height: 4vh;
    width: 3vw;
    border-radius: 0.5vw;
    border: .5vh solid #2867C6;
    background-color: #E5E5E5;
    left: 40.5vw;
    font-weight: bolder;
    text-align: center;
}

.year{
    position: absolute;
    width: 22vw;
    height: 85vh;
    background: #2867C6;
    left: 75.5vw;
    top: 12vh;
    border-radius: 2vw;
}

.year_date {
    position: relative;
    text-align: center;
    color: black;
    background-color: #E5E5E5;
    font-size: 30%;
    top: 2vh;
    width:30%;
    left:35%;
    border-radius: .5vw;

}
.button3 {
    position: relative;
    top: -10vh;
    height: 4vh;
    width: 15%;
    border-color: transparent;
    border-radius: 0.5vw;
    background-color: #E5E5E5;
    left: 15%;
    font-weight: bolder;
    text-align: center;
}

.button4 {
    position: relative;
    top: -10vh;
    height: 4vh;
    width: 15%;
    border-color: transparent;
    border-radius: 0.5vw;
    background-color: #E5E5E5;
    font-weight: bolder;
    text-align: center;
    left: 48%;
}
.month {

}




