body {
    font-size: 6vw;
    width: 1920px;
    font-family: Jomhuria, sans-serif;
    background: #E5E5E5;
    font-weight: bold;
    overflow-x: hidden;
    max-height: 1080px;
    overflow-y: hidden;
    overflow-x: hidden;
}

.topbanner1 {
    overflow-x: hidden;
    position: absolute;
    width: 100%;
    height: 12vh;
    top: -2vh;
    left:0vw;
    background-color: #2867C6;
    color: white;
    font-size: 50%;
    overflow-x: hidden;
    overflow-y: hidden;

}


.back {
    overflow-x: hidden;
    position: absolute;
    width: 8%;
    height: 6vh;
    background-color: #E5E5E5;
    color: black;
    font-size: 23%;
    border-radius: 1vw;
    top: 2%;
    left: 91%;
    font-weight: bolder;
    text-align: center;
    border-color: transparent;
}

.wel{
    position: absolute;
    top: -2vh;
    left: 40vw;
    width: 200vw;
}

.main {
    position: absolute;
    width: 75vw;
    height: 85vh;
    background-color: #80B4F0;
    left: 2vw;
    top: 14vh;
    border-radius: 2vw;
    font-size: 100%;
    overflow-y: scroll;
}

.side{
    position: absolute;
    height:85vh;
    width: 20vw;
    left: 79vw;
    top: 14vh;
    background: #2867C6;
    border-radius: 2vw;
}

.text{
    position: absolute;
    color: #E5E5E5;
    font-size: 2vw;
    font-weight: bolder;
    left: 1.3vw;
    top:-2vh;
}

.first{
    position: absolute;
    height: 12vh;
    width: 18vw;
    left: .8vw;
    top: 12vh;
    font-size: 2vw;
    font-weight: bold;
    border-radius: 2vw;
    text-indent: 1vw;
    border-color: #4D698A;
    background: #4D698A;
    color: #E5E5E5;
}

.date{
    position: absolute;
    height: 12vh;
    width: 18vw;
    left: .8vw;
    top: 30vh;
    font-size: 2vw;
    font-weight: bold;
    border-radius: 2vw;
    text-indent: 1vw;
    border-color: #4D698A;
    background: #4D698A;
    color: #E5E5E5;
}

.email{
    position: absolute;
    height: 12vh;
    width: 18vw;
    left: .8vw;
    top: 48vh;
    font-size: 2vw;
    font-weight: bold;
    border-radius: 2vw;
    text-indent: 1vw;
    border-color: #4D698A;
    background: #4D698A;
    color: #E5E5E5;
}

.but{
    position: absolute;
    height: 12vh;
    width: 18vw;
    left: 1vw;
    top: 66vh;
    font-size: 1.5vw;
    font-weight: bold;
    border-radius: 2vw;
    text-indent: .3vw;
    border-color: #3A7FD0;
    background: #3A7FD0;
    color: #E5E5E5;
}

.profile{
    position: relative;
    height: 12vh;
    width: 70vw;
    background: #2867C6;
    border-radius: 1vw;
    left: 2vw;
    margin-top: 3vh;
}

.name{
    position: relative;
    width: max-content;
    height: 8vh;
    font-size: 2vw;
    font-weight: bold;
    background-color: #E5E5E5;
    color: black;
    left: 1vw;
    margin-left: 1vw;
    margin-top: 2vh;
    text-align: center;
    border-radius: 1vw;
    float: left;
}

.inner{
    position: relative;
    top:-2vh;
    text-indent: 1vw;
    margin-right: 1vw;
}

@media only screen and (max-width: 950px){
    .wel{ font-size: 4vh; top:-.5vh; left:22vw}
    .topbanner1{ height: 9vh}
    .main{width: 90%;left: 5%;top: 32vh;}
    .back{ width: 16vw; font-size: 2vh;top:.9vh; left: 82vw; height: 5vh}
    .side{top:8vh;left: 5%;height: 23vh;width: 90%;}
    .text{font-size: 2vh;top: -0.5vh; left: 25vw}
    .first{font-size: 2.3vh; top: 5vh; height: 7vh; left:2vw; width: 40vw;}
    .date{font-size: 2.3vh; top: 5vh; left: 47vw; width: 40vw; height: 7vh}
    .email{font-size: 2.3vh; top: 14vh; height: 7vh; left:2vw; width: 40vw;}
    .but{font-size: 1.6vh; top: 14.5vh; left: 48vw; width: 39vw; height: 6.5vh}
    .profile{width: 86vw; height:8vh}
    .name{height: 6vh; margin-top: 1vh}
    .inner{font-size: 1.3vh; top: .6vh}
}