
body {
    background-color:#2B2B2B;
    font-family: Jomhuria, sans-serif;
    font-size: 6vw;

}

.wel {
    color:white;
    position:absolute;
    left: 17%;
    width: 66%;
    margin: auto;
    top: 12vh;
    font-weight: bold;;
    text-align:center;
    font-size:120%;
}

.banner {
    width: 101%;
    height: 11vh;
    position: fixed;
    margin: auto;
    top: -2vh;
    left: -1vw;
    background-color: #4747A3;
    overflow-x: hidden;

}

.side-box {
    background-color:#4747A3;
    height: 50%;
    width: 40%;
    position:absolute;
    border-radius: 6vh;
    left:5%;
    top:35vh;
    color:rgba(255, 255, 255, 1);
    font-weight: bold;
}
.intro {
    height:6vh;
    position:absolute;
    left: 3%;
    top:10%;
    text-align:left;
    font-size:38%;
}

.list {
    left: 2vw;
    position:absolute;
    top:10vh;
    width: 80%;
    height: 30vh;
    text-align:left;
    font-size:35%;
}

.create {
    background-color:#4F4E89;
    border: #4F4E89;
    height:17vh;
    position:absolute;
    border-radius: 6vh;
    color:white;
    text-align: center;
    font-size:40%;
    width: 40vw;
    left: 55vw;
    top: 38vh;
}

.log {
    border: #4F4E89;
    background-color:#4F4E89;
    height:17vh;
    position:absolute;
    border-radius: 6vh;
    color:white;
    text-align: center;
    font-size:40%;
    width: 40vw;
    left: 55vw;
    top: 64vh;
}

.switch{
    border: #2B2B2B;
    background-color:#2B2B2B;
    height:6vh;
    position:absolute;
    border-radius: 2vh;
    color: white;
    text-align: center;
    font-size:20%;
    width: 6vw;
    top: 1.5vh;
    left:1vw;
    font-weight: bold;
}