
body {
    background-color:#E5E5E5;
    font-family: Jomhuria, sans-serif;
    font-size: 6vw;
}

.wel {
    color:rgba(0, 0, 0, 1);
    position:relative;
    margin: auto;
    top: 6vh;
    font-weight: bold;;
    text-align:center;
    font-size:120%;
}

.banner {
    width: 99vw;
    height: 10vh;
    position: relative;
    margin: auto;
    top: -1vh;
    background-color: #2867C6;
}

.side-box {
    background-color:#80B4F0;
    height: 50%;
    width: 40%;
    position:absolute;
    border-radius: 45px;
    left:2%;
    top:40vh;
    color:rgba(255, 255, 255, 1);
    font-weight: bold;
}
.intro {
    height:60px;
    position:absolute;
    left: 3%;
    top:10%;
    text-align:left;
    font-size:38%;
}

.list {
    left: 3%;
    position:absolute;
    top:100px;
    width: 90%;
    text-align:left;
    font-size:35%;
}

.create {
    box-shadow:0 4px 4px rgba(0, 0, 0, 0.25);
    background-color:#2867C6;
    height:17vh;
    position:relative;
    border-radius: 45px;
    color:white;
    text-align: center;
    font-size:40%;
    width: 40vw;
    left: 50vw;
    top: 16vh;
}

.log {
    box-shadow:0 4px 4px rgba(0, 0, 0, 0.25);
    background-color:#2867C6;
    height:17vh;
    position:relative;
    border-radius: 45px;
    color:white;
    text-align: center;
    font-size:40%;
    width: 40vw;
    left: 50vw;
    top: 23vh;
}

