body {
    background-color: rgb(105, 90, 90);
    overflow-x: hidden;
    overflow-y: hidden;
}
.settings-newsinfo {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.settings-newsinfo .bottom {
    position: absolute;
    top: 35vh;
}
/* this is for the blue border */
.settings-newsinfo .outer-frame {
    position: relative;
    width: 95vw;
    height: 80vh;
    background-color: #3A7FD0;
    border: 0.40vw solid;
    border-top-left-radius: 2.5vw;
    border-top-right-radius: 2.5vw;
    border-color: #2867C6;
}

.settings-newsinfo .inner-frame {
    position: absolute;
    width: 91vw;
    height: 57.5vh;
    top: 3vh;
    left: 1.75vw;
    background-color: #E2D8D8;
    border: 0.3vw solid;
    border-radius: 1.5vw;
    border-color: #656161;
}
.settings-newsinfo .top-text {
    position: absolute;
    width: 30vw;
    height: 6.67vh;
    top: 3vh;
    left: 2vw;
}

.settings-newsinfo .NewsTitle {
    font-family: "Darker Grotesque-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 2.15vw;
}

.settings-newsinfo .line {
    height: 0.2vh;
    width: 70vh;
    bottom: 1vh;
    background-color: #4b4949;
}

.settings-newsinfo .desc {
    position: absolute;
    height: 50vh;
    top: 3vh;
    font-family: "Darker Grotesque";
    font-weight: 100;
    color: #3d3c3c;
    font-size: 1.65vw;
}

.settings-newsinfo .NewsInfo {
    position: absolute;
    width: 60vw;
    top: 12vh;
    left: 2vw;
}
.settings-newsinfo .updateOct16 {
    position: absolute;
    font-family: "Darker Grotesque-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 2.15vw;
    top: 3vh;
}
.settings-newsinfo .descriptionOct16{
    position: absolute;
    height: 20vh;
    width: 40vw;
    font-family: "Darker Grotesque";
    font-weight: bold;
    color: #3d3c3c;
    font-size: 1.65vw;
    top: 8vh;
}
.settings-newsinfo .top {
    position: absolute;
    width: 100vw;
    height: 32.5vh;
    top: 0vh;
    box-shadow: 0vh 1.5vh 1.5vh #00000040;
}

.settings-newsinfo .t-leftFrame {
    position: absolute;
    width: 13vw;
    height: 32.5vh;
    background-color: #2867C6;
}

.settings-newsinfo .settingsText {
    position: absolute;
    width: 60vw;
    height: 20vh;
    top: 20.5vh;
    left: 3.5vh;
    font-family: "Darker Grotesque-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 2.5vw;
}

.settings-newsinfo .usericon {
    position: absolute;
    width: 8.5vw;
    height: 17.5vh;
    left: 2.25vw;
    top: 2vh;
}


.settings-newsinfo .t-rightFrame {
    position: relative;
    width: 120vw;
    height: 32.5vh;
    left: 13vw;
    background-color: #E2D8D8;
}

.settings-newsinfo .dashboardButton {
    position: absolute;
    display: table;
    background-color: #ffffff;
    left: 61vw;
    top: 21.25vh;
    height: 7vh;
    width: 23vw;
    border: .2vw solid;
    border-radius: 1vw;
    border-color: #2867C6;
    box-shadow: 0vh 0.5vh 1.5vh black;
    text-align: center;
}

.settings-newsinfo .dashboardTxt {
    font-size: 2.1vw;
    font-family: "Darker Grotesque-Bold", Helvetica;
    font-weight: 600;
    color: rgb(0, 0, 0);
    vertical-align: middle;
    display: table-cell
}

.settings-newsinfo .dashboardTxt:before {
    content: '';
    position: absolute;
    top: 5.5vh;
    height: 0.4vh;
    background: #044394;
    width: 0;
    transition: all 1.0s ease;
}
.settings-newsinfo .dashboardTxt:hover:before {
    width: 93%;
    color: #2867C6;
}


.settings-newsinfo .buttonFrame {
    position: absolute;
    background-color: #80b3f0;
    left: 16vw;
    top: 20vh;
    height: 9.5vh;
    width: 55vw;
    border: .15vw solid;
    border-radius: 3vh;
    box-shadow: 0vh 0.5vh 1.5vh black;
}

.settings-newsinfo .newTxt {
    position: absolute;
    top: 2.25vh;
    width: 5.85vw;
    left: 46.5vw;
    font-size: 2.25vw;
    font-family: "Darker Grotesque-Bold", Helvetica;
    font-weight: 700;
    color: rgb(0, 0, 0);
    line-height: normal;
}
.settings-newsinfo .newTxt:before {
    content: '';
    position: absolute;
    top: 5vh;
    height: 0.5vh;
    background: #044394;
    width: 0;
    transition: all 1.0s ease;
}
.settings-newsinfo .newTxt:hover:before{
    width:100%;
}

.settings-newsinfo .appearTxt {
    position: absolute;
    top: 2.25vh;
    width: 12.925vw;
    left: 47vw;
    font-size: 2.25vw;
    font-family: "Darker Grotesque-Bold", Helvetica;
    font-weight: 700;
    color: rgb(0, 0, 0);
    line-height: normal;
}
.settings-newsinfo .appearTxt:before{
    content: '';
    position: absolute;
    top: 5.5vh;
    height: 0.4vh;
    background: #044394;
    width: 0;
    transition: all 1.0s ease;
}
.settings-newsinfo .appearTxt:hover:before{
    width: 100%;
}

.settings-newsinfo .notifTxt {
    position: absolute;
    top: 2.25vh;
    width: 12.75vw;
    left: 28vw;
    font-size: 2.25vw;
    font-family: "Darker Grotesque-Bold", Helvetica;
    font-weight: 700;
    color: rgb(0, 0, 0);
}

.settings-newsinfo .notifTxt:before {
    content: '';
    position: absolute;
    top: 5vh;
    height: 0.5vh;
    background: #044394;
    width: 0;
    transition: all 1.0s ease;
}
.settings-newsinfo .notifTxt:hover:before {
    width: 107%;
}

.settings-newsinfo .accinfoTxt {
    position: absolute;
    top: 2.25vh;
    width: 25vw;
    left: 1.5vw;
    font-size: 2.25vw;
    font-family: "Darker Grotesque-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
}
.settings-newsinfo .accinfoTxt:before {
    content: '';
    position: absolute;
    top: 5vh;
    height: 0.5vh;
    background: #044394;
    width: 0;
    transition: all 1.0s ease;
}
.settings-newsinfo .accinfoTxt:hover:before {
    width: 88%;
}