
body {
    box-shadow:0 4px 4px rgba(0, 0, 0, 0.25);
    background-color:#E5E5E5;
    position:absolute;
    font-family: Jomhuria, sans-serif;
    font-weight: bold;
}
.e64_10 {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
    background-color:#80B4F0;
    width:774px;
    height:500px;
    margin: auto;
    position: fixed;
    left:375px;
    top:190px;
    border-radius:45px;
}

.box {
    width:1550px;
    height: 70px;
    top:-20px;
    left: -30px;
    position: absolute;
    background-color: #2867C6;
    margin: inherit;

}

.e60_6 {
    color:rgba(0, 0, 0, 1);
    width:500px;
    height:91px;
    margin:auto;
    position: relative;
    top:-120px;
    text-align:center;
    font-size:100px;
    letter-spacing:0;
}
.e64_13 {
    color:rgba(0, 0, 0, 1);
    background-color:transparent;
    border: transparent;
    width:439px;
    height:124px;
    position:relative;
    margin: auto;
    top:430px;
    text-align:center;
    font-size:30px;
    letter-spacing:0;

}
.e74_99 {
    width:563px;
    height:80px;
    position:relative;
    margin:auto;
    top: -200px;
    color: white;
    font-size: 35px;
    text-align:left;
}
.e64_16 {
    background-color:#4D698A;
    width:563px;
    height:80px;
    position:relative;
    margin: auto;
    top:-25px;
    text-align: left;
    text-indent: 5px;
    border-radius: 30px;

    color: white;
    font-size: 40px;
}

.e74_100 {
    width:563px;
    height:80px;
    position:relative;
    margin:auto;
    top: -170px;
    color: white;
    font-size: 35px;
    text-align:left;
}

.e74_116 {
    width:563px;
    height:102px;
    position:relative;
    margin: auto;
    top:-75px;
}

.e74_120 {
    width:563px;
    height:102px;
    position:relative;
    margin: auto;
    top:-30px;
    left:50px;
}

.e64_15 {
    box-shadow:0 4px 4px rgba(0, 0, 0, 0.25);
    background-color:#2867C6;
    width:563px;
    height:102px;
    position:absolute;
    border-radius: 45px;

    text-align:center;
    font-size:35px;
    color:rgba(255, 255, 255, 1);
}
.e64_17 {
    color:rgba(255, 255, 255, 1);
    width:390px;
    height:92px;
    position:absolute;
    left:87px;
    top:5px;
    text-align:center;
    font-size:35px;
    letter-spacing:0;
}
