
body {
    background-color:#E5E5E5;
    font-family: Jomhuria, sans-serif;
    font-size: 6vw;
    font-weight: bold;
}

.banner {
    width: 101%;
    height: 11vh;
    position: fixed;
    margin: auto;
    top: -2vh;
    left: -1vw;
    background-color: #2867C6;
    overflow-x: hidden;

}

.main {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
    background-color:#80B4F0;
    width: 46vw;
    height: 60vh;
    margin: auto;
    position: fixed;
    left: 27vw;
    top: 25vh;
    border-radius:45px;
}

.title {
    color:rgba(0, 0, 0, 1);
    margin:auto;
    position: relative;
    top:-15vh;
    text-align:center;
    font-size: 100%;
}

.wrong {
    color:rgba(0, 0, 0, 1);
    background-color:transparent;
    border: transparent;
    position: absolute;
    width:23vw;
    margin: auto;
    top: 63vh;
    left: 11.5vw;
    text-align:center;
    font-size:30%;
    letter-spacing:0;

}

.text {
    background-color:#4D698A;
    margin: auto;
    position: relative;
    text-align: left;
    text-indent: 5px;
    border-radius: 30px;
    color: white;
    font-size: 140%;
    width:38vw;
    height: 9vh;
    top: -2vh;

}

.user {
    position: absolute;
    left: 4vw;
    top: -1vh;
    color: white;
    font-size: 35%;
    text-align:left;
}

.pass {
    position: absolute;
    left: 4vw;
    top: 20vh;
    color: white;
    font-size: 35%;
    text-align:left;
}

.next {
    box-shadow:0 4px 4px rgba(0, 0, 0, 0.25);
    background-color:#2867C6;
    width:38vw;
    height: 12vh;
    position:absolute;
    border-radius: 45px;
    left: 4vw;
    top: 45vh;
    text-align:center;
    font-size:45%;
    color:rgba(255, 255, 255, 1);
}
