body {
    background-color:#E5E5E5;
    font-family: Jomhuria, sans-serif;
    font-size: 6vw;
    font-weight: bold;
    position: absolute;
}

.banner {
    width: 101%;
    height: 11vh;
    position: fixed;
    margin: auto;
    top: -2vh;
    left: -1vw;
    background-color: #2867C6;
    overflow-x: hidden;

}

.main {
    box-shadow:0 .5vw .5vw rgba(0, 0, 0, 0.25);
    background-color:#80B4F0;
    width: 46vw;
    height: 60vh;
    margin: auto;
    position: fixed;
    left: 27vw;
    top: 25vh;
    border-radius:6vh;
}

.title {
    color:rgba(0, 0, 0, 1);
    position: relative;
    text-align: center;
    top:-12.5vh;
    font-size: 75%;
}

.wrong {
    color:rgba(0, 0, 0, 1);
    background-color:transparent;
    border: transparent;
    position: absolute;
    width:23vw;
    margin: auto;
    top: 63vh;
    left: 11.5vw;
    text-align:center;
    font-size:30%;
    letter-spacing:0;

}

.text-1 {
    background-color:#4D698A;
    border: #4D698A;
    position: absolute;
    text-align: left;
    text-indent: 1vw;
    border-radius: 3.5vh;
    color: white;
    font-size: 50%;
    width:38vw;
    height: 9vh;
    left: 4vw;
    top: 5vh;
}
.text-2 {
    background-color:#4D698A;
    border: #4D698A;
    position: absolute;
    text-align: left;
    text-indent: 1vw;
    border-radius: 3.5vh;
    color: white;
    font-size: 50%;
    width:38vw;
    height: 9vh;
    left: 4vw;
    top: 19vh;
}
.text-3 {
    background-color:#4D698A;
    border: #4D698A;
    position: absolute;
    text-align: left;
    text-indent: 1vw;
    border-radius: 3.5vh;
    color: white;
    font-size: 50%;
    width:38vw;
    height: 9vh;
    left: 4vw;
    top: 33vh;
}
.text-4 {
    background-color:#4D698A;
    border: #4D698A;
    position: absolute;
    text-align: left;
    text-indent: 1vw;
    border-radius: 3.5vh;
    color: white;
    font-size: 50%;
    width:38vw;
    height: 12vh;
    left: 4vw;
    top: 7vh;
}
.text-5 {
    background-color:#4D698A;
    border: #4D698A;
    position: absolute;
    text-align: left;
    text-indent: 1vw;
    border-radius: 3.5vh;
    color: white;
    font-size: 50%;
    width:38vw;
    height: 12vh;
    left: 4vw;
    top: 26vh;
}

.next {
    position:absolute;
    box-shadow:0 .5vw .5vw rgba(0, 0, 0, 0.25);
    background-color:#2867C6;
    border: #2867C6;
    width:24vw;
    height: 10vh;
    border-radius: 6vh;
    left: 11vw;
    top: 47.5vh;
    text-align:center;
    font-size:45%;
    color:rgba(255, 255, 255, 1);
}

@media only screen and (max-width: 495px){
    .title {font-size: 7vh; top: -11vh;}
    .banner{ height: 9vh}
    .main{width: 90%;left: 5%;top: 20vh;}
    .wrong{font-size: 3vh; width: 80%; left: 10%}
    .text-1{width: 90%; left: 5%; font-size: 4vh}
    .text-2{width: 90%; left: 5%; font-size: 4vh}
    .text-3{width: 90%; left: 5%; font-size: 4vh}
    .text-4{width: 90%; left: 5%; font-size: 4vh}
    .text-5{width: 90%; left: 5%; font-size: 4vh}
    .next{width: 90%; left: 5%; font-size: 4vh}
}